<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all users</title>
</head>
<body>
<h2>All users</h2>
</br>
<table>
    <tr bgcolor="#ff7f50"><th> ID </th><th>Name</th><th>Second name</th></tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}" bgcolor="#00bfff">Id</td>
        <td th:text="${user.getUsername()}" bgcolor="#f0e68c"> Name </td>
        <td th:text="${user.getPassword()}" bgcolor="#f0e68c"> Password </td>
        <td th:text="${user.getEmail()}" bgcolor="#f0e68c"> Email </td>
        <td><form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
            <input type="submit" value="edit">
        </form></td>
        <td><form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="delete">
        </form></td>
    </tr>
</table>
</br></br>
<form th:method="GET" th:action="@{/users/new}">
    <input type="submit" value="Add new user">
</form>
<br><br>
<a th:href="@{/logout}">logout</a>
</body>
</html>